In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/imdwipayana/Python-Project-2023/main/Project/asuransi_mobil.csv')

In [3]:
data.head()

,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,SKOR_KREDIT,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,KM_PER_TAHUN,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,569520,lebih dari 65 tahun,perempuan,kurang dari 10 tahun,SMA,lebih dari 3x UMR,0.629027,ya,setelah 2020,belum menikah,ada,10238,12000.0,keluarga,0,0,0,tidak
1,750365,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,tidak ada,kurang dari UMR,0.357757,tidak,sebelum 2020,belum menikah,tidak ada,10238,16000.0,keluarga,0,0,0,ya
2,199901,kurang dari 25 tahun,perempuan,kurang dari 10 tahun,SMA,antara 1-2x UMR,0.493146,ya,sebelum 2020,belum menikah,tidak ada,10238,11000.0,keluarga,0,0,0,tidak
3,478866,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,universitas,antara 1-2x UMR,0.206013,ya,sebelum 2020,belum menikah,ada,32765,11000.0,keluarga,0,0,0,tidak
4,731664,antara 25-40 tahun,laki-laki,antara 10-20 tahun,tidak ada,antara 1-2x UMR,0.388366,ya,sebelum 2020,belum menikah,tidak ada,32765,12000.0,keluarga,2,0,1,ya

In [4]:
data.describe()

,IDENTITAS,SKOR_KREDIT,KODE_POS,KM_PER_TAHUN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA
count,10000.000000,9018.000000,10000.000000,9043.000000,10000.000000,10000.00000,10000.000000
mean,500521.906800,0.515813,19864.548400,11697.003207,1.482900,0.23920,1.056300
std,290030.768758,0.137688,18915.613855,2818.434528,2.241966,0.55499,1.652454
min,101.000000,0.053358,10238.000000,2000.000000,0.000000,0.00000,0.000000
25%,249638.500000,0.417191,10238.000000,10000.000000,0.000000,0.00000,0.000000
50%,501777.000000,0.525033,10238.000000,12000.000000,0.000000,0.00000,0.000000
75%,753974.500000,0.618312,32765.000000,14000.000000,2.000000,0.00000,2.000000
max,999976.000000,0.960819,92101.000000,22000.000000,22.000000,6.00000,15.000000

In [5]:
data.dtypes

IDENTITAS                  int64
UMUR                      object
JENIS_KELAMIN             object
PENGALAMAN_MENGEMUDI      object
PENDIDIKAN                object
PENGHASILAN               object
SKOR_KREDIT              float64
PEMILIK_KENDARAAN         object
TAHUN_PRODUKSI            object
STATUS                    object
ANAK                      object
KODE_POS                   int64
KM_PER_TAHUN             float64
JENIS_KENDARAAN           object
TILANG_NGEBUT              int64
TILANG_MABUK               int64
KECELAKAAN_SEBELUMNYA      int64
KLAIM                     object
dtype: object

In [6]:
data.isnull().sum()

IDENTITAS                  0
UMUR                       0
JENIS_KELAMIN              0
PENGALAMAN_MENGEMUDI       0
PENDIDIKAN                 0
PENGHASILAN                0
SKOR_KREDIT              982
PEMILIK_KENDARAAN          0
TAHUN_PRODUKSI             0
STATUS                     0
ANAK                       0
KODE_POS                   0
KM_PER_TAHUN             957
JENIS_KENDARAAN            0
TILANG_NGEBUT              0
TILANG_MABUK               0
KECELAKAAN_SEBELUMNYA      0
KLAIM                      0
dtype: int64

In [7]:
data.STATUS.unique()

array(['belum menikah', 'menikah'], dtype=object)

In [8]:
data.SKOR_KREDIT.unique()

array([0.62902731, 0.35775712, 0.49314579, ..., 0.47094023, 0.36418478,
       0.43522478])

In [9]:
data.KLAIM.unique()

array(['tidak', 'ya'], dtype=object)

In [10]:
data.PENGALAMAN_MENGEMUDI.unique()

array(['kurang dari 10 tahun', 'antara 10-20 tahun', 'antara 20-30 tahun',
       'lebih dari 30 tahun'], dtype=object)

In [11]:
data.UMUR.unique()

array(['lebih dari 65 tahun', 'kurang dari 25 tahun',
       'antara 25-40 tahun', 'antara 40-65 tahun'], dtype=object)

In [12]:
data_categorical =['SKOR_KREDIT','KM_PER_TAHUN']

In [13]:
data_drop = data.drop(data_categorical, axis =1)

In [14]:
data_drop.head()

,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,569520,lebih dari 65 tahun,perempuan,kurang dari 10 tahun,SMA,lebih dari 3x UMR,ya,setelah 2020,belum menikah,ada,10238,keluarga,0,0,0,tidak
1,750365,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,tidak ada,kurang dari UMR,tidak,sebelum 2020,belum menikah,tidak ada,10238,keluarga,0,0,0,ya
2,199901,kurang dari 25 tahun,perempuan,kurang dari 10 tahun,SMA,antara 1-2x UMR,ya,sebelum 2020,belum menikah,tidak ada,10238,keluarga,0,0,0,tidak
3,478866,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,universitas,antara 1-2x UMR,ya,sebelum 2020,belum menikah,ada,32765,keluarga,0,0,0,tidak
4,731664,antara 25-40 tahun,laki-laki,antara 10-20 tahun,tidak ada,antara 1-2x UMR,ya,sebelum 2020,belum menikah,tidak ada,32765,keluarga,2,0,1,ya

In [15]:
data_drop.dtypes

IDENTITAS                 int64
UMUR                     object
JENIS_KELAMIN            object
PENGALAMAN_MENGEMUDI     object
PENDIDIKAN               object
PENGHASILAN              object
PEMILIK_KENDARAAN        object
TAHUN_PRODUKSI           object
STATUS                   object
ANAK                     object
KODE_POS                  int64
JENIS_KENDARAAN          object
TILANG_NGEBUT             int64
TILANG_MABUK              int64
KECELAKAAN_SEBELUMNYA     int64
KLAIM                    object
dtype: object

In [16]:
data_drop.isnull().sum()

IDENTITAS                0
UMUR                     0
JENIS_KELAMIN            0
PENGALAMAN_MENGEMUDI     0
PENDIDIKAN               0
PENGHASILAN              0
PEMILIK_KENDARAAN        0
TAHUN_PRODUKSI           0
STATUS                   0
ANAK                     0
KODE_POS                 0
JENIS_KENDARAAN          0
TILANG_NGEBUT            0
TILANG_MABUK             0
KECELAKAAN_SEBELUMNYA    0
KLAIM                    0
dtype: int64

In [17]:
data_categorical = pd.get_dummies(data)
data_categorical.head()

,IDENTITAS,SKOR_KREDIT,KODE_POS,KM_PER_TAHUN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,UMUR_antara 25-40 tahun,UMUR_antara 40-65 tahun,UMUR_kurang dari 25 tahun,...,TAHUN_PRODUKSI_sebelum 2020,TAHUN_PRODUKSI_setelah 2020,STATUS_belum menikah,STATUS_menikah,ANAK_ada,ANAK_tidak ada,JENIS_KENDARAAN_keluarga,JENIS_KENDARAAN_sport,KLAIM_tidak,KLAIM_ya
0,569520,0.629027,10238,12000.0,0,0,0,0,0,0,...,0,1,1,0,1,0,1,0,1,0
1,750365,0.357757,10238,16000.0,0,0,0,0,0,1,...,1,0,1,0,0,1,1,0,0,1
2,199901,0.493146,10238,11000.0,0,0,0,0,0,1,...,1,0,1,0,0,1,1,0,1,0
3,478866,0.206013,32765,11000.0,0,0,0,0,0,1,...,1,0,1,0,1,0,1,0,1,0
4,731664,0.388366,32765,12000.0,2,0,1,1,0,0,...,1,0,1,0,0,1,1,0,0,1

In [18]:
data_drop.head()

,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,569520,lebih dari 65 tahun,perempuan,kurang dari 10 tahun,SMA,lebih dari 3x UMR,ya,setelah 2020,belum menikah,ada,10238,keluarga,0,0,0,tidak
1,750365,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,tidak ada,kurang dari UMR,tidak,sebelum 2020,belum menikah,tidak ada,10238,keluarga,0,0,0,ya
2,199901,kurang dari 25 tahun,perempuan,kurang dari 10 tahun,SMA,antara 1-2x UMR,ya,sebelum 2020,belum menikah,tidak ada,10238,keluarga,0,0,0,tidak
3,478866,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,universitas,antara 1-2x UMR,ya,sebelum 2020,belum menikah,ada,32765,keluarga,0,0,0,tidak
4,731664,antara 25-40 tahun,laki-laki,antara 10-20 tahun,tidak ada,antara 1-2x UMR,ya,sebelum 2020,belum menikah,tidak ada,32765,keluarga,2,0,1,ya

In [19]:
data.PENDIDIKAN.unique()

array(['SMA', 'tidak ada', 'universitas'], dtype=object)

In [20]:
data.PENGHASILAN.unique()

array(['lebih dari 3x UMR', 'kurang dari UMR', 'antara 1-2x UMR',
       'antara 2-3x UMR'], dtype=object)

In [21]:
data.TAHUN_PRODUKSI.unique()

array(['setelah 2020', 'sebelum 2020'], dtype=object)

In [22]:
data.STATUS.unique()

array(['belum menikah', 'menikah'], dtype=object)

In [23]:
data.ANAK.unique()

array(['ada', 'tidak ada'], dtype=object)

In [24]:
data.KODE_POS.unique()

array([10238, 32765, 92101, 21217], dtype=int64)

In [25]:
data.JENIS_KENDARAAN.unique()

array(['keluarga', 'sport'], dtype=object)

In [26]:
data.TILANG_NGEBUT.unique()

array([ 0,  2,  3,  7,  6,  4, 10, 13,  1,  5,  9,  8, 12, 11, 15, 17, 19,
       18, 16, 14, 22], dtype=int64)

In [27]:
data.TILANG_MABUK.unique()

array([0, 2, 1, 3, 4, 5, 6], dtype=int64)

In [28]:
data.KECELAKAAN_SEBELUMNYA.unique()

array([ 0,  1,  3,  7,  2,  5,  4,  6,  8, 10, 11,  9, 12, 14, 15],
      dtype=int64)

In [29]:
data_drop['JENIS_KELAMIN'] = \
data_drop['JENIS_KELAMIN'].map({'perempuan':0, 'laki-laki':1})

In [30]:
data_drop['PENGALAMAN_MENGEMUDI'] = \
data_drop['PENGALAMAN_MENGEMUDI'].map({'kurang dari 10 tahun':0, 'antara 10-20 tahun':1, 'antara 20-30 tahun':2, 'lebih dari 30 tahun':3})

In [31]:
data_drop['PENDIDIKAN'] = \
data_drop['PENDIDIKAN'].map({'SMA':0, 'tidak ada':1, 'universitas':2})

In [32]:
data_drop['PENGHASILAN'] = \
data_drop['PENGHASILAN'].map({'lebih dari 3x UMR':1, 'kurang dari UMR':2, 'antara 1-2x UMR':3,
       'antara 2-3x UMR':4})

In [33]:
data_drop['PEMILIK_KENDARAAN'] = \
data_drop['PEMILIK_KENDARAAN'].map({'ya':1, 'tidak':0})

In [34]:
data_drop['TAHUN_PRODUKSI'] = \
data_drop['TAHUN_PRODUKSI'].map({'setelah 2020':0, 'sebelum 2020':1})

In [35]:
data_drop['STATUS'] = \
data_drop['STATUS'].map({'belum menikah':0, 'menikah':1})

In [36]:
data_drop['ANAK'] = \
data_drop['ANAK'].map({'ada':0, 'tidak ada':1})

In [37]:
data_drop['JENIS_KENDARAAN'] = \
data_drop['JENIS_KENDARAAN'].map({'keluarga':0, 'sport':1})

In [38]:
data.UMUR.unique()

array(['lebih dari 65 tahun', 'kurang dari 25 tahun',
       'antara 25-40 tahun', 'antara 40-65 tahun'], dtype=object)

In [39]:
data_drop['UMUR'] = \
data_drop['UMUR'].map({'kurang dari 25 tahun':0, 'antara 25-40 tahun':1,'antara 40-65 tahun':2, 'lebih dari 65 tahun':3})

In [40]:
data_drop['KLAIM'] = \
data_drop['KLAIM'].map({'ya':0, 'tidak':1})

In [41]:
data_drop.head()

,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,569520,3,0,0,0,1,1,0,0,0,10238,0,0,0,0,1
1,750365,0,1,0,1,2,0,1,0,1,10238,0,0,0,0,0
2,199901,0,0,0,0,3,1,1,0,1,10238,0,0,0,0,1
3,478866,0,1,0,2,3,1,1,0,0,32765,0,0,0,0,1
4,731664,1,1,1,1,3,1,1,0,1,32765,0,2,0,1,0

In [42]:
data.columns

Index(['IDENTITAS', 'UMUR', 'JENIS_KELAMIN', 'PENGALAMAN_MENGEMUDI',
       'PENDIDIKAN', 'PENGHASILAN', 'SKOR_KREDIT', 'PEMILIK_KENDARAAN',
       'TAHUN_PRODUKSI', 'STATUS', 'ANAK', 'KODE_POS', 'KM_PER_TAHUN',
       'JENIS_KENDARAAN', 'TILANG_NGEBUT', 'TILANG_MABUK',
       'KECELAKAAN_SEBELUMNYA', 'KLAIM'],
      dtype='object')

In [43]:
data.dtypes

IDENTITAS                  int64
UMUR                      object
JENIS_KELAMIN             object
PENGALAMAN_MENGEMUDI      object
PENDIDIKAN                object
PENGHASILAN               object
SKOR_KREDIT              float64
PEMILIK_KENDARAAN         object
TAHUN_PRODUKSI            object
STATUS                    object
ANAK                      object
KODE_POS                   int64
KM_PER_TAHUN             float64
JENIS_KENDARAAN           object
TILANG_NGEBUT              int64
TILANG_MABUK               int64
KECELAKAAN_SEBELUMNYA      int64
KLAIM                     object
dtype: object

In [44]:
data.describe()

,IDENTITAS,SKOR_KREDIT,KODE_POS,KM_PER_TAHUN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA
count,10000.000000,9018.000000,10000.000000,9043.000000,10000.000000,10000.00000,10000.000000
mean,500521.906800,0.515813,19864.548400,11697.003207,1.482900,0.23920,1.056300
std,290030.768758,0.137688,18915.613855,2818.434528,2.241966,0.55499,1.652454
min,101.000000,0.053358,10238.000000,2000.000000,0.000000,0.00000,0.000000
25%,249638.500000,0.417191,10238.000000,10000.000000,0.000000,0.00000,0.000000
50%,501777.000000,0.525033,10238.000000,12000.000000,0.000000,0.00000,0.000000
75%,753974.500000,0.618312,32765.000000,14000.000000,2.000000,0.00000,2.000000
max,999976.000000,0.960819,92101.000000,22000.000000,22.000000,6.00000,15.000000

In [45]:
from sklearn import preprocessing 

scaler = preprocessing.MinMaxScaler()
d = scaler.fit_transform(data_drop)
data_normalisasi = pd.DataFrame(d, columns=data_drop.columns)
data_normalisasi.head(10)

,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,0.569490,1.000000,0.0,0.000000,0.0,0.000000,1.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,1.0
1,0.750358,0.000000,1.0,0.000000,0.5,0.333333,0.0,1.0,0.0,1.0,0.000000,0.0,0.000000,0.0,0.000000,0.0
2,0.199825,0.000000,0.0,0.000000,0.0,0.666667,1.0,1.0,0.0,1.0,0.000000,0.0,0.000000,0.0,0.000000,1.0
3,0.478825,0.000000,1.0,0.000000,1.0,0.666667,1.0,1.0,0.0,0.0,0.275179,0.0,0.000000,0.0,0.000000,1.0
4,0.731654,0.333333,1.0,0.333333,0.5,0.666667,1.0,1.0,0.0,1.0,0.275179,0.0,0.090909,0.0,0.066667,0.0
5,0.877566,0.666667,0.0,0.666667,0.0,0.000000,1.0,0.0,0.0,0.0,0.000000,0.0,0.136364,0.0,0.200000,1.0
6,0.930149,1.000000,1.0,1.000000,0.0,0.000000,0.0,0.0,1.0,0.0,0.000000,0.0,0.318182,0.0,0.200000,1.0
7,0.460963,0.333333,0.0,0.000000,1.0,0.666667,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0
8,0.068274,0.666667,0.0,0.666667,1.0,0.666667,0.0,1.0,1.0,1.0,0.000000,0.0,0.000000,0.0,0.000000,1.0
9,0.445866,0.666667,0.0,0.000000,0.0,0.000000,1.0,1.0,0.0,0.0,0.275179,0.0,0.000000,0.0,0.000000,0.0

In [46]:
data_normalisasi.isnull().sum()

IDENTITAS                0
UMUR                     0
JENIS_KELAMIN            0
PENGALAMAN_MENGEMUDI     0
PENDIDIKAN               0
PENGHASILAN              0
PEMILIK_KENDARAAN        0
TAHUN_PRODUKSI           0
STATUS                   0
ANAK                     0
KODE_POS                 0
JENIS_KENDARAAN          0
TILANG_NGEBUT            0
TILANG_MABUK             0
KECELAKAAN_SEBELUMNYA    0
KLAIM                    0
dtype: int64

In [47]:
X = data_normalisasi.drop(['KLAIM'], axis =1) 
y = data_normalisasi['KLAIM']

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [50]:
from sklearn.svm import SVC
model_svm = SVC()

In [51]:
model_svm.fit(X_train,y_train)

SVC()

In [52]:
model_svm.score(X_test,y_test)

0.838

In [53]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=5, shuffle=True, random_state=0)

In [54]:
score_svm = cross_val_score(model_svm,X,y,cv=k_fold,n_jobs=1,scoring='accuracy')
print(score_svm)

[0.831  0.8355 0.8605 0.8545 0.8275]

In [55]:
score_svm.mean()*100

84.17999999999999

In [56]:
from sklearn.linear_model import LogisticRegression

In [57]:
model_lr = LogisticRegression()

In [58]:
model_lr.fit(X_train,y_train)

LogisticRegression()

In [59]:
model_lr.score(X_test,y_test)

0.84